.l-menu {
    margin-top: 20vh;
    margin-bottom: 2vh;
}

.list-group {
    display: inline-block !important;
}

#l-game-content-container {
    transition:flex 1s ease-out;
}

/* Only for animation */
.l-flex-null {
    flex: 0 !important;
}
